/* JUMBOTRON */
.jumbotronMock {
	margin-top: 3.5em;
	padding: 0em 5em 3em;
}

.jumbotronMock .col-md-4 {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d; 
}
.jumbotronMock .col-md-4 .jumbotronText {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.jumbotronMock .col-md-4 .jumbotronText h2 {
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1.1px;
	color: rgba(68, 68, 68, 0.9);
	margin-bottom: 0.8sem;
}
.jumbotronMock .col-md-4 .jumbotronText p {
	font-style: normal;
	font-stretch: normal;
	line-height: 1.78;
	letter-spacing: 0.9px;
	color: rgba(102, 102, 102, 0.9);
}

.jumbotronMock img {
	max-width: 90%;
	float: right;
}

.jumbotronMock .col-sm-12 h2 {
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1.1px;
	color: rgba(68, 68, 68, 0.9);
}
.jumbotronMock .col-sm-12 p {
	color: rgba(102, 102, 102, 0.9);
}

@media screen and (min-width: 768px) {
	.jumbotronMock .col-md-8 {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d; 
	}
	.jumbotronMock img {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

@media screen and (max-width: 767px) {
	.jumbotronMock img {
		max-width: 100%;
		margin: 30px 0 25px 0;
	}
}

/* FEATURES */
.featuresTitle {
	margin-bottom: 2.5em; 
	letter-spacing: 1.5px;
	color: rgba(102, 102, 102, 0.9);
}

.features {
	padding: 0 1.5em 4em;
}

.features img {
	width: 70px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.8em;
}

.features h4 {
	margin-bottom: 1em;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	color: rgba(68, 68, 68, 0.9);
}

.features p {
	letter-spacing: 0.7px;
	text-align: center;
	color: rgba(102, 102, 102, 0.9);
}
